.student-info__container {
    display: flex;
    flex-direction: column; 
    height: 350px;
    width: 550px;
    margin: auto; 
    border: 1px solid #5b9bd5;
    justify-content:center; 
    align-items: center;
}

.student-info__field {
    display: flex;
    width: 450px;
    justify-content: space-around;
    margin: 10px auto;
}

.student-info__input_text {
    margin-left: 20px;
    height: 40px;
    width: 320px;
    border: 1px solid #42719b;
}

.student_info__field {
    width: 110px;
    background-color: #9cc2e5;
    text-align: center; 
    padding: 10px 0;
    border: 1px solid #42719b;
}

